[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
IMDbPY = "*"
configparser = "*"
Goodreads = "*"
jinja2_pluralize = "*"
records = "*"
psycopg2-binary = "*"
sqlalchemy = "==1.1"
cinemagoer = "*"

[dev-packages]

[requires]
python_version = "3.8"
