{% extends 'base.html' %}
{% block content %}
<div class="row">
<div class="col">
<form>
  <fieldset>
    <div class="form-group mb-3">
      <label for="">Type</label>
      <select class="form-control" name="media_type">
        <option></option>
      {% for type in types %}
        <option value="{{type.id}}"{% if media and media.media_type == type.id%} selected{% endif %}>{{type.name}}</option>
      {% endfor %}
      </select>
    </div>
    <div class="form-group mb-3">
      <label for="">Title</label>
      <input class="form-control" type="text" name="title"{% if media %} value="{{media.title}}"{% endif %}>
    </div>
    <div class="form-group mb-3">
      <label for="">Subsection</label>
      <input class="form-control" type="text" name="subsection"{% if media %} value="{{media.subsection}}"{% endif %}>
    </div>
    <div class="form-group mb-3">
      <label for="">Start Date</label>
      <input class="form-control" type="date" name="begin_date"{% if media %} value="{{media.begin_date}}"{% endif %}>
    </div>
    <div class="form-group mb-3">
      <label for="">Finish Date</label>
      <input class="form-control" type="date" name="end_date"{% if media %} value="{{media.end_date}}"{% endif %}>
    </div>
    <div class="form-group mb-3">
      <label for="">Length</label>
      <input class="form-control" type="number" name="length"{% if media %} value="{{media.length}}"{% endif %}> <span class="form-text" id="length_unit">{% if media %}{{units[media.length_unit]}}{% endif %}</span>
    </div>
    <div class="form-group mb-3">
      <label>Comments:</label>
      <textarea class="form-control">{% if media and media.comments %}{{media.comments}}{% endif %}</textarea>
    </div>
    <div class="form-group mb-3">
      <input type="submit" value="{% if media %}Update{% else %}Create{% endif %}">
    </div>
  </fieldset>
</form>
</div>
<div class="col">
Import coming soon?
</div>
</div>
{% endblock %}
