            <li><a class="dropdown-item" href="/list?begin_date={{g.year_ago_str}}&begin_date_cmp=%3E%3D&completed=True">Last Year</a></li>
            <li><a class="dropdown-item" href="/list?rating=4.5&rating_cmp=%3E%3D&completed=True">Highest Rated</a></li>
            <li><a class="dropdown-item" href="/list?completed=True">Completed</a><li>
            <li><a class="dropdown-item" href="/list?completed=False&begin_date={{g.year_ago_str}}&begin_date_cmp=%3E%3D&onhold=False">Recent Unfinished</a></li>
            <li><a class="dropdown-item" href="/list">All</a></li>
            <li><a class="dropdown-item" href="/list?completed=False&started=False&onhold=False">Todo</a></li>
