{% extends 'base.html' %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="starter-template text-center py-5 px-3">
<h1>Latest entries</h1>
<table class="table table-hover">
  <thead>
  {% for header in cols %}
    <th>{{ headers[header] }}</th>
  {% endfor %}
  </thead>
{% for item in media %}
  <tr>
    {%- with cols=cols %}
    {%- with item=item %}
      {% include 'line_item.html' %}
    {%- endwith %}
    {%- endwith %}
  </tr>
{% endfor %}
</table>
</div>
{% endblock %}
