{% extends 'base.html' %}
{% block content %}
<select id="year_dropdown">
{%- for y in years %}
<option{% if y == current_year %} selected{% endif %}>{{ y }}</option>
{%- endfor %}
</select>
<p />
<div class="card-deck">
{% for stat in stats %}
<div class="card border-primary mb-3 float:left;" style="max-width: 30em;">
  <div class="card-header">
    <div><a href="/stats/{{stat.year}}/list/{{stat.media_type}}">{{stat.name | pluralize }}<a></div>
  </div>
  <div class="card-body">
    <p class="card-text">{{stat.count}}</p>
    <p class="card-text">{% if stat.sum %}{{'%g' % stat['sum']}}{% endif %}</p>
  </div>
</div>
{%- endfor %}
</div>
{% endblock %}
{% block scripts %}
<script language="javascript">
<!--
$("#year_dropdown").change(function() {
  location.href = "/stats/" + $("#year_dropdown").val();
});
-->
</script>
{% endblock %}
