{% extends 'base.html' %}
{% block content %}
<div class="row">
<div class="col">
<form>
  <fieldset>
    {% if media.cover_image %}
    <div class="mb-3">
      <img src="/static/images/covers/{{media.cover_image}}">
    </div>
    {% endif %}
    <div class="form-group mb-3">
      <label for="">Type</label>
      {{ (types | selectattr('id', 'equalto', media.media_type) | first)['name'] }}
    </div>
    <div class="form-group mb-3">
      <label for="">Title</label>
      {{media.title}}
    </div>
    {% if media.subsection %}
    <div class="form-group mb-3">
      <label for="">Subsection</label>
      {{media.subsection}}
    </div>
    {% endif %}
    <div class="form-group mb-3">
      <label for="">Start Date</label>
      {{media.begin_date}}
    </div>
    <div class="form-group mb-3">
      <label for="">Finish Date</label>
      {{media.end_date}}
    </div>
    <div class="form-group mb-3">
      <label for="">Length</label>
      {% if media.length %}{{media.length}} {% if media %}{{units[media.length_unit]}}{% endif %}{% endif %}
    </div>
    <div class="form-group mb-3">
      <label>Comments:</label>
      <{% if media and media.comments %}{{media.comments}}{% else %}No comments found{% endif %}
    </div>
    <div class="form-group mb-3">
      <input type="button" onClick="window.location.href='/edit/{{ media.id }}';"  value="Edit">
    </div>
  </fieldset>
</form>
</div>
<div class="col">
</div>
</div>
{% endblock %}
